@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

:root {
    --primary-4: #f70776; 
    --primary-3: #c3195d; 
    --primary-2: #680747; 
    --primary-1: #141010;
    
    --secondary-1: #272343;
    --secondary-2: #ffffff;
    --secondary-3: #e3f6f5;
    --secondary-4: #bae8e8;

    --ternary-1: #dbd8e3;
    --ternary-2: #5c5470;
    --ternary-3: #352f44;
    --ternary-4: #2a2438;

    --quaternary-1: #fda403;
    --quaternary-2: #e8751a; 
    --quaternary-3: #c51350; 
    --quaternary-4: #8a1253;

    --light-1: #fff2be;
    --light-4: #fafafa;

    --ff-default: 'Poppins', sans-serif;
    --fs-default: 18px;
}

* {
    box-sizing: border-box;
}

body {
    width: 80%;
    height: 100vh;
    background-color: var(--light-1);
    font-family: var(--ff-default);
    font-size: var(--fs-default);
    margin: 2em auto;
}

#ctn-1, #ctn-2 {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    margin-top: 4rem;
}

.grid-item {
    cursor: pointer;
}

#wrapper-1 {
    background-color: var(--primary-2);
    width: 80%;
    border-radius: 14px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#wrapper-1 .grid-item {
    background-color: var(--primary-3);
    color: var(--light-1);
    height: 80px;
    border: 1px solid var(--primary-4);
    border-radius: 14px;
    padding: 10px 1rem;
    display: flex;
    align-items: center;
}

#wrapper-1 .grid-item.is-selected {
    animation-name: highlight-item;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-fill-mode: forwards;
    border: 2px solid var(--light-4);
}

#wrapper-1 .grid-item.is-selected::before {
    content: "";
    margin-right: 1em;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    transform: rotate(45deg);
    animation-name: highlight-validation-sign;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-fill-mode: forwards;
}

#wrapper-2 {
    background-color: var(--secondary-4);
    padding: 2rem;
    border: 2px solid var(--secondary-1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-fill-mode: forwards;
}

#wrapper-2[class="cg-2"] {
    column-gap: 2px;
    row-gap: 2px;
    animation-name: gutter-is-2;

}
#wrapper-2[class="cg-4"] {
    column-gap: 4px;
    row-gap: 4px;
    animation-name: gutter-is-4;

}
#wrapper-2[class="cg-6"] {
    column-gap: 6px;
    row-gap: 6px;
    animation-name: gutter-is-6;

}
#wrapper-2[class="cg-8"] {
    column-gap: 8px;
    row-gap: 8px;
    animation-name: gutter-is-8;

}
#wrapper-2[class="cg-10"] {
    column-gap: 10px;
    row-gap: 10px;
    animation-name: gutter-is-10;

}
#wrapper-2[class="cg-12"] {
    column-gap: 12px;
    row-gap: 12px;
    animation-name: gutter-is-12;

}
#wrapper-2[class="cg-14"] {
    column-gap: 14px;
    row-gap: 14px;
    animation-name: gutter-is-14;

}
#wrapper-2[class="cg-16"] {
    column-gap: 16px;
    row-gap: 16px;
    animation-name: gutter-is-16;

}
#wrapper-2[class="cg-18"] {
    column-gap: 18px;
    row-gap: 18px;
    animation-name: gutter-is-18;

}
#wrapper-2[class="cg-20"] {
    column-gap: 20px;
    row-gap: 20px;
    animation-name: gutter-is-20;

}
#wrapper-2[class="cg-22"] {
    column-gap: 22px;
    row-gap: 22px;
    animation-name: gutter-is-22;

}
#wrapper-2[class="cg-24"] {
    column-gap: 24px;
    row-gap: 24px;
    animation-name: gutter-is-24;

}
#wrapper-2[class="cg-26"] {
    column-gap: 26px;
    row-gap: 26px;
    animation-name: gutter-is-26;

}
#wrapper-2[class="cg-28"] {
    column-gap: 28px;
    row-gap: 28px;
    animation-name: gutter-is-28;

}
#wrapper-2[class="cg-30"] {
    column-gap: 30px;
    row-gap: 30px;
    animation-name: gutter-is-30;

}

#wrapper-2 .grid-item {
    background-color: var(--secondary-1);
    color: var(--secondary-2);
    padding: .5em 1em;
    border: 1px solid var(--secondary-3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper-2 .grid-item.is-selected {
    animation-name: retract-item;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-fill-mode: forwards;
}

#wrapper-3 {
    background-color: var(--ternary-1);
    padding: 20px;
    border: 2px solid var(--ternary-4);
    border-radius: 10px;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

#wrapper-3 .grid-item {
    border: 1px solid var(--ternary-4);
    border-radius: 15px;
    overflow: hidden;
}

#wrapper-3 .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrapper-3 .grid-item.is-under{
    z-index: -1;
}

#wrapper-3 .grid-item:nth-of-type(1){
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
#wrapper-3 .grid-item:nth-of-type(2){
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(3){
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(4){
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(5){
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}
#wrapper-3 .grid-item:nth-of-type(6){
    grid-column: 4 / 5;
    grid-row: 4 / 8;
}
#wrapper-3 .grid-item:nth-of-type(7){
    grid-column: 1 / 4;
    grid-row: 6 / 8;
}
#wrapper-3 .grid-item:nth-of-type(8){
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
#wrapper-3 .grid-item:nth-of-type(9){
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(10){
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(11){
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}
#wrapper-3 .grid-item:nth-of-type(12){
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}
#wrapper-3 .grid-item:nth-of-type(13){
    grid-column: 4 / 5;
    grid-row: 4 / 8;
}
#wrapper-3 .grid-item:nth-of-type(14){
    grid-column: 1 / 4;
    grid-row: 6 / 8;
}
@keyframes highlight-item {
    from {
        background-color: var(--primary-3);
        color: var(--light-1);
        border-color: var(--primary-4);
    }

    50% {
        background-color: var(--primary-4);
        color: var(--primary-4);
    }

    to {
        background-color: var(--primary-1);
        color: var(--light-4);
        border-color: var(--light-4);
    }
}

@keyframes highlight-validation-sign {
    from {
        border-color: var(--primary-4);
        transform: rotate(0deg);
        width: 0;
        height: 0;
    }

    to {
        border-color: var(--light-1);
        transform: rotate(45deg);
        width: 10px;
        height: 1em;
    }
}

@keyframes retract-item {
    from {
        background-color: var(--secondary-1);   
        color: var(--secondary-2);    
    }

    50% {
        color: var(--secondary-4);
    }

    to {
        background-color: var(--secondary-2);
        color: var(--secondary-1);
    }
}

@keyframes gutter-is-2 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 2px;
        row-gap: 2px;
    }
}
@keyframes gutter-is-4 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 4px;
        row-gap: 4px;
    }
}

@keyframes gutter-is-6 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 6px;
        row-gap: 6px;
    }
}

@keyframes gutter-is-8 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 8px;
        row-gap: 8px;
    }
}

@keyframes gutter-is-10 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 10px;
        row-gap: 10px;
    }
}
@keyframes gutter-is-12 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 12px;
        row-gap: 12px;
    }
}
@keyframes gutter-is-14 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 14px;
        row-gap: 14px;
    }
}

@keyframes gutter-is-16 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 16px;
        row-gap: 16px;
    }
}

@keyframes gutter-is-18 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 18px;
        row-gap: 18px;
    }
}

@keyframes gutter-is-20 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 20px;
        row-gap: 20px;
    }
}
@keyframes gutter-is-22 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 22px;
        row-gap: 22px;
    }
}
@keyframes gutter-is-24 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 24px;
        row-gap: 24px;
    }
}

@keyframes gutter-is-26 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 26px;
        row-gap: 26px;
    }
}

@keyframes gutter-is-28 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 28px;
        row-gap: 28px;
    }
}

@keyframes gutter-is-30 {
    50% {
        column-gap: 40px;
        row-gap: 40px;
    }

    to {
        column-gap: 30px;
        row-gap: 30px;
    }
}