@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --c-white: #F4F7F5;
    --c-black: #08090A;
    --c-gray-1: #A7A2A9;
    --c-gray-2: #575A5E;
    --c-gray-3: #222823;

    --ff-default: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-white);
    color: var(--c-black);
    font-family: var(--ff-default);
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

nav {
    background-color: var(--c-black);
    width: 70%;
    height: 30px;
    padding: .5rem;
    margin: .5rem auto 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    position: sticky;
    top: 10px;
    z-index: 50;
}

.nav-link {
    color: var(--c-white);
    text-decoration: none;
    text-align: center;
    padding: .4rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: letter-spacing .4s linear, background-color .2s linear, color .2s linear;
}

.is-active {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav-link:hover {
    letter-spacing: 3px;
}

#disclaimer {
    position: relative;
    top: 1rem;
    left: 35rem;
    width: 40%;
    background-color: var(--c-black);
    color: var(--c-white);
    text-align: center;
    padding: .5rem 0;
    border-radius: 15px;
    /* text-decoration: var(--c-black) underline; */
}

#disclaimer a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.section-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

section {
    margin: 0;
    width: 480px;
    height: 640px;
    background-color: var(--c-white);
    border-radius: 20px;
}

img {
    object-fit: fill;
}

#second-carousel {
    width: 75%;
    height: 640px;
}

#third-carousel {
    width: 80%;
    height: auto;
}

#fourth-carousel {
    width: 70%;
    height: 70%;
}

#fifth-carousel {
    width: 50%;
    height: 80%;
}

.first-carousel-cell, 
.second-carousel-cell,
.third-carousel-cell,
.fourth-carousel-cell,
.fifth-carousel-cell {
    width: 100%;
    height: 100%;
    background-color: var(--c-white);
    margin-right: 2rem;
    border-radius: 20px;
    opacity: .5;
    transition: opacity .6s linear;
}

.first-carousel-cell.is-selected, 
.second-carousel-cell.is-selected,
.third-carousel-cell.is-selected,
.fourth-carousel-cell.is-selected,
.fifth-carousel-cell.is-selected {
    opacity: 1;
}

.second-carousel-cell:nth-of-type(1) {
    width: 80%;
}

.second-carousel-cell:nth-of-type(2) {
    width: 60%;
}

.second-carousel-cell:nth-of-type(3) {
    width: 75%;
}

.second-carousel-cell:nth-of-type(4) {
    width: 80%;
}

.third-carousel-cell {
    width: 70%;
    height: 100%;
    opacity: .5;
    margin-left: 2rem;
}

.third-carousel-cell:nth-of-type(1),
.third-carousel-cell:nth-of-type(3) {
    width: 800px;
    height: 600px;
}
.third-carousel-cell:nth-of-type(2) {
    width: 70%;
    height: 100%;
}

.third-carousel-cell:nth-of-type(4),
.third-carousel-cell:nth-of-type(5) {
    width: 70%;
    height: 100%;
}

.fourth-carousel-cell {
    object-fit: contain;
}

.fifth-carousel-cell {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flickity-button {
    background: var(--c-gray-1);
    transition: all .2s linear;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--c-black);
}

.flickity-button:hover {
    background: var(--c-black);
}

.flickity-button:active {
    background: var(--c-white);
}

.flickity-button:active .flickity-button-icon {
    fill: var(--c-black);
}

.flickity-button-icon {
    fill: var(--c-white);
}

.flickity-prev-next-button {
    width: 50px;
    height: 50px;
}

.flickity-prev-next-button.previous {
    left: -100px;
}

.flickity-prev-next-button.next {
    right: -100px;
}

.flickity-page-dots {
    bottom: -50px;
}

.flickity-page-dots .dot {
    width: 20px;
    height: 20px;
    transition: transform .6s linear;
}

.flickity-page-dots .dot.is-selected {
    transform: scale(1.2);
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    width: 14%;
    background-color: var(--c-black);
    color: var(--c-white);
    padding: .4rem 0;
    border-radius: 10px;
}

@media only screen and (max-width: 40rem) {
    nav {
        width: 90%;
        column-gap: .5rem;
    }

    section {
        width: 300px;
        height: 426px;
    }

    .second-carousel-cell:nth-of-type(1), 
    .second-carousel-cell:nth-of-type(2), 
    .second-carousel-cell:nth-of-type(3),
    .second-carousel-cell:nth-of-type(4) {
        width: 100%;
    }
}
