@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

:root {
    --default-font-family: 'DynaPuff', cursive;
    --default-font-size: 16px;
    --countdown-font-size: 5rem;
    --shadow-btn: #343A40;
    --font-color: #FDF0D5;
    --font-color-shade: #cac0aa;
    --bg-color-pomodoro-heavy: #780000;
    --bg-color-pomodoro-light: #C1121F;
    --bg-color-short-break-heavy: #003049;
    --bg-color-short-break-light: #669BBC;
    --bg-color-long-break-heavy: #57CC99;
    --bg-color-long-break-light: #80ED99;
}

body {
    background-color: var(--bg-color-pomodoro-heavy);
    color: var(--font-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    box-sizing: border-box;
    margin: 1rem auto;
    max-width: 70%;
    min-height: 90vh;
    transition: background-color .5s  cubic-bezier(0.5, 1, 0.89, 1);
}

header {
    border-bottom: 1px solid var(--font-color);
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}

#logo {
    width: 60px;
    height: 60px;
}

#main-ctn {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#countdown-ctn {
    background-color: var(--bg-color-pomodoro-light);
    width: min(80%, 500px);
    min-height: 30vh;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--bg-color-pomodoro-light);
    border-radius: .6em;
    transition: background-color .5s cubic-bezier(0.5, 1, 0.89, 1), 
        border .5s cubic-bezier(0.5, 1, 0.89, 1);
}

#states {
    display: flex;
    column-gap: 2rem;
}

#countdown {
    font-size: var(--countdown-font-size);
    margin: 1rem 0;
}

#start-btn {
    background-color: var(--font-color);
    color: var(--bg-color-pomodoro-light);
    font-family: inherit;
    font-size: 1.5rem;
    padding: .6em 1.4em;
    border: 1px solid var(--font-color);
    border-bottom: 5px solid var(--font-color-shade);
    box-shadow: 0px 5px 1px var(--font-color--shade);
    border-radius: .2em;
    transition: all .1s linear
        /* color .5s cubic-bezier(0.5, 1, 0.89, 1);        */
}

#start-btn:hover {
    cursor: pointer;
}

#start-btn[class="is-pressed"] {
    box-shadow: none;
    border-bottom: 1px solid var(--font-color--shade);
}

#start-btn[class="short-break is-pressed"] {
    box-shadow: none;
    border-bottom: 1px solid var(--font-color--shade);
}

#countdown-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pomodoro-number {
    margin-bottom: .5em;
}

#message {
    margin-top: .5em;
}

.icon8, .pixabay {
    color: inherit;
}

.state-btn {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: .4em .6em;
    border-radius: .5em;
    border: none;
    transition: background-color .5s cubic-bezier(0.5, 1, 0.89, 1);
}

.state-btn:hover {
    cursor: pointer;
}

#body[class="pomodoro"] {
    background-color: var(--bg-color-pomodoro-heavy);
}

#body[class="short-break"] {
    background-color: var(--bg-color-short-break-heavy);
}

#body[class="long-break"] {
    background-color: var(--bg-color-long-break-heavy);
}


#countdown-ctn[class="short-break"] {
    background-color: var(--bg-color-short-break-light);
    border: 1px solid var(--bg-color-short-break-light);
}

#start-btn[class="short-break"], #start-btn[class="short-break is-pressed"] {
    color: var(--bg-color-short-break-light);
}


#countdown-ctn[class="long-break"] {
    background-color: var(--bg-color-long-break-light);
    border: 1px solid var(--bg-color-long-break-light);
}

#start-btn[class="long-break"], #start-btn[class="long-break is-pressed"] {
    color: var(--bg-color-long-break-light);
}




/* .state-btn[data-state="pomodoro"] .pomodoro{
    background-color: var(--bg-color-pomodoro-heavy);
}

.state-btn[data-state="short-break"] .short-break{
    background-color: var(--bg-color-short-break-heavy);
}

.state-btn[data-state="long-break"] .long-break{
    background-color: var(--bg-color-long-break-heavy);
} */

.pomodoro {
    background-color: var(--bg-color-pomodoro-heavy);
}

.short-break {
    background-color: var(--bg-color-short-break-heavy);
}

.long-break {
    background-color: var(--bg-color-long-break-heavy);
}

.start-btn[class="pomodoro"] {
    color: var(--bg-color-pomodoro-heavy);
}

.start-btn[class="short-break"] {
    color: var(--bg-color-short-break-heavy);
}

.start-btn[class="long-break"] {
    color: var(--bg-color-long-break-heavy);
}